body {
  height: 17263px;
  background: linear-gradient(150deg, red, orange, yellow, green, blue, indigo, violet);
}

h1 {
  color: #fff;
}

.progress {
  position: fixed;
  width: 5px;
  height: 140px;
  top: 40%;
  left: 10px;
  background: black;
  z-index: 10;
}

.progress-bar {
  position: absolute;
  width: 5px;
  height: 140px;
  top: 0;
  left: 0;
  background: yellow;
  z-index: 11;
}